<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        .padding8 {
            padding: 8px;
        }

        .flex-column {
            display: flex;
            flex-direction: column;
        }

        .divider {
            display: block;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.12);
        }

        .flex-center {
            display: flex;
            align-items: center;
        }
    </style>

</head>

<body>

    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Lista de contatos</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">

            </nav>
        </div>
    </header>
    <ul class="mdl-list">
        {% for ct in contatos %}
        <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons  mdl-list__item-avatar">person</i>
                <span>{{ct.nome}}</span>
                <span class="mdl-list__item-text-body">
                    <div class="flex-column">
                        <span class="flex-center">
                            Telefones: {% for tel in ct.telefones %}
                            <!-- Deletable Chip -->
                            <span style="margin:6px;" class="mdl-chip mdl-chip--deletable">
                                <span class="mdl-chip__text">{{tel.telefone}}</span>
                                <a type="button" href="{{ url_for('deletePhone', id=tel.id) }}" class="mdl-chip__action">
                                    <i class="material-icons">cancel</i>
                                </a>
                            </span>
                            {% endfor %}
                            <a href="{{ url_for('addPhone', id=ct.id) }}" id="add_phone" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                <i class="material-icons">add</i>
                            </a>
                            <div class="mdl-tooltip" data-mdl-for="add_phone">
                                Adicionar telefone
                            </div>
                            <span style="border-left: 1px solid rgba(0, 0, 0, 0.12); padding-left: 6px;">
                                Endereços:
                            </span>
                             {% for end in ct.enderecos %}
                            <span style="margin:6px;" class="mdl-chip mdl-chip--deletable">
                                <span class="mdl-chip__text">{{end.endereco}} </span>
                                <a type="button" class="mdl-chip__action" href="{{ url_for('deleteAddress', id=end.id) }}">
                                    <i class="material-icons">cancel</i>
                                </a>
                            </span>

                            {% endfor %}
                            <a href="{{ url_for('addAddress', id=ct.id) }}" id="add_address" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                <i class="material-icons">add</i>
                            </a>
                            <div class="mdl-tooltip" data-mdl-for="add_address">
                                Adicionar endereço
                            </div>
                        </span>
                    </div>
                </span>
                <span class="mdl-list__item-text-body">
                </span>
            </span>
            <span class="mdl-list__item-secondary-action">
                <a href="{{ url_for('cadastrar', id=ct.id) }}" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">edit</i>
                </a>
                <a href="{{ url_for('delete', id=ct.id) }}" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">delete</i>
                </a>
            </span>
        </li>
        <div class="divider"></div>
        {% endfor %}
    </ul>
    <a type="button" href="{{ url_for('cadastrar') }}" style="position: fixed; right: 16px; bottom: 16px;" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">person_add</i>
    </a>
</body>

</html>